{% extends "base.html" %}
{% block extra_scripts %}
<script src="{{ STATIC_URL }}js/frontpages_simple_nav.js"></script>
{% endblock %}
{% block page_title %}:: The front page{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="hero-unit">
            <h1>The front page</h1>
            <p>The front page of the newspaper is where the &lsquo;big&rsquo; stories are printed. But this hasn't always been the case.
            The design and function of the front page has changed greatly over time. 
            Here you explore this change...<p>
            <p><a class="btn" href="http://discontents.com.au/shed/experiments/4-million-articles-later">Read more at discontents &raquo;</a>
            
        </div>
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span4 offset1">
            <h2>Newspapers</h2>
            <a class="thumbnail" href="/frontpages/53/words/"><img src="{{ STATIC_URL }}images/words.png"></a>
            <p>Follow changes in the design of specific newspapers.<p>
            <form>
            <select id="newspaper" class="span12">
            </select>
            <button class="btn btn-primary" id="show">Show</button>
            </form>
        </div>
        <div class="span1"></div>
        <div class="span4">
            <h2>Categories</h2>
            <a class="thumbnail" href="/frontpages/all/article/"><img src="{{ STATIC_URL }}images/scatter.png"></a>
            <p>Explore the changing frequency of different types of article.</p>
            <form>
            <select id="category" class="span12">
                <option value="">Choose a category</option>
                <option value="article">Article (news)</option>
                <option value="advertising">Advertising</option>
                <option value="lists">Detailed lists, results, guides</option>
                <option value="family">Family notices</option>
                <option value="literature">Literature</option>
                <option value="illustrated">Illustrated articles</option>
            </select>
            <button class="btn btn-primary" id="show_scatter">Show</button>
            </form>
        </div>
      </div>
    </div>
{% endblock %}