        <div class="well">
            <form>
            <select id="newspaper" class="span12">
                {% for news in newspapers %}
                    <option value="{{ news.0 }}">{{ news.1 }}</option>
                {% endfor %}
            </select>
            <select id="year" class="span8">
                <option value="">Year</option>
                {% for year in years_list %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <select id="month" class="span8">
                <option value="">Month</option>
                {% for month in months_list %}
                    {% if month != "Year" %}<option value="{{ forloop.counter0 }}">{{ month }}</option>{% endif %}
                {% endfor %}
            </select>
            <select id="day" class="span8">
                <option value="">Day</option>
                {% for day in days_list %}
                    <option value="{{ day }}">{{ day }}</option>
                {% endfor %}
            </select>
            <label>Categories:</label>
            <span class="help-block">Leave unchecked for all</span>
            <label class="checkbox">
              <input type="checkbox" value="article"> News article</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="advertising"> Advertising</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="lists"> Detailed lists, results, guides</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="family"> Family Notices</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="literature"> Literature</input>
            </label>
            <label>View:</label>
            <select id="view" class="span8">
                <option value="">Table</option>
                <option value="words">Words</option>
                <option value="number">Number</option>
            </select>
            
            <button class="btn btn-primary" id="show">Show</button>
            </form>
        </div>