{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="hero-unit">
          <h1>dhistory</h1>
          <p class="lead">Your digital history workbench</p>
        </div>
        <ul class="thumbnails">
            <li class="span3 offset1">
                <div class="thumbnail">
                    <a href="/frontpages/"><img src="{{ STATIC_URL }}/img/front-page-300x200.png" alt=""></a>
                    <h3>The front page</h3>
                    <p>Explore changes in the front pages of Australian newspapers.</p>
                    <a class="btn btn-block btn-primary" href="/frontpages/">Launch</a>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail">
                    <a href="/archives/naa/"><img src="{{ STATIC_URL }}/img/archives-viewer-300x200.png" alt=""></a>
                    <h3>Archives Viewer</h3>
                    <p>Explore digitised records from the National Archives of Australia.</p>
                    <a class="btn btn-block btn-primary" href="/archives/naa/">Launch</a>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail">
                    <a href="/querypic/"><img src="{{ STATIC_URL }}/img/qp-300x200.png" alt=""></a>
                    <h3>QueryPic</h3>
                    <p>Explore digitised newspapers from Australia and New Zealand.</p>
                    <a class="btn btn-block btn-primary" href="/querypic/">Launch</a>
                </div>
            </li>
        </ul>

    </div>
</div>
    <footer>
        <div class="container-fluid">
            <div class="span6">
            <p>Developed by <a href="http://discontents.com.au/about-me">Tim Sherratt</a> (<a href="http://twitter.com/wragge">@wragge</a>).<p>
            <p>Another fine product from the <a href="http://wraggelabs.com/emporium/">Wragge Labs Emporium</a></p>
        </div>
        </div>
    </footer>
{% endblock %}
