{% extends "base.html" %}
{% block extra_scripts %}
<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/highcharts/exporting.js"></script>
<script src="{{ STATIC_URL }}js/showLoading/js/jquery.showLoading.js"></script>
<script src="{{ STATIC_URL }}js/frontpages_nav.js"></script>
<script src="{{ STATIC_URL }}js/frontpages_newspaper_year.js"></script>
<script>
    var series = {{ series|safe }};
    var newspaper_id = {{ newspaper.newspaper_id }};
    var total_type = "{{ total_type }}";
    var year = {{ year }};
    {% if total_type == 'words' %}
        var y_label = 'Average words per issue';
        var y_min = -200;
    {% elif total_type == 'number' %}
        var y_label = 'Average articles per issue';
        var y_min = -1;
    {% elif total_type == 'illustrated' %}
        var y_label = 'Average illustrated articles per issue';
        var y_min = 0;
    {% endif %}
</script>
{% endblock %}
{% block page_title %}:: The front page{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          {% include 'frontpages_side_nav.html' %}
        </div><!--/span-->
        <div class="span9">
            <ul class="breadcrumb">
                <li>
                  <a href="/frontpages/">Front pages</a> <span class="divider">/</span>
                </li>
                <li>
                  <a href="/frontpages/{{ newspaper.newspaper_id }}/{{ total_type }}">{{ newspaper.newspaper_title|truncatechars:30 }}</a> <span class="divider">/</span>
                </li>
                <li class="active">
                  {{ year }}
                </li>
            </ul>
            <h1>{{ newspaper.newspaper_title }}</h1>
            <h2>{{ year }}</h2>
            {% if series != "[]" %}
                <p>
                <ul class="nav nav-pills">
                    <li>
                      <a href="/frontpages/{{ newspaper.newspaper_id }}/{{ year }}/">Table</a>
                    </li>
                    <li {% if total_type == 'words' %}class="active"{% endif %}><a href="/frontpages/{{ newspaper.newspaper_id }}/{{ year }}/words/">Word count</a></li>
                    <li {% if total_type == 'number' %}class="active"{% endif %}><a href="/frontpages/{{ newspaper.newspaper_id }}/{{ year }}/number/">Number of articles</a></li>
                    <li {% if total_type == 'illustrated' %}class="active"{% endif %}><a href="/frontpages/{{ newspaper.newspaper_id }}/{{ year }}/illustrated/">Illustrated articles</a></li>
                </ul>
                </p>
                <div id="container" style="min-width: 400px; height: 600px; margin: 0 auto"></div>
            {% else %}
                <p>No issues available for this year.</p>
            {% endif %}
            {% include 'social.html' %}
        </div>
      </div>
    </div>
{% endblock %}