{% extends "base.html" %}
{% block extra_scripts %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="{{ STATIC_URL }}js/frontpages_newspaper_month.js"></script>
<script>
    var series = {{ series|safe }};
    var newspaper_id = {{ newspaper.newspaper_id }};
    var total_type = "{{ total_type }}";
    var year = {{ year }};
    var month = {{ month }};
    var month_label = "{{ month_label }}";
    {% if total_type == 'words' %}
        var y_label = 'Average words per issue';
        var y_min = -200;
    {% elif total_type == 'number' %}
        var y_label = 'Average articles per issue';
        var y_min = -1;
    {% endif %}
</script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well">
            <label>Newspaper</label>
            <select id="newspaper" class="span12">
                {% for news in newspapers %}
                    <option value="{{ news.0 }}">{{ news.1 }}</option>
                {% endfor %}
            </select>
            <label>Categories</label>
            <label class="checkbox">
              <input type="checkbox" value="article"> News article</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="advertising"> Advertising</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="lists"> Detailed lists, results, guides</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="family"> Family Notices</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="literature"> Literature</input>
            </label>
            <span class="help-block">(Leave unchecked for all.)</span>
            <button class="btn" id="show">Show</button>
          </div>
        </div><!--/span-->
        <div class="span9">
            <ul class="breadcrumb">
                <li>
                  <a href="/frontpages/">Front pages</a> <span class="divider">/</span>
                </li>
                <li>
                  <a href="/frontpages/{{ newspaper.newspaper_id }}/{{ total_type }}">{{ newspaper.newspaper_title|truncatechars:30 }}</a> <span class="divider">/</span>
                </li>
                <li>
                  <a href="/frontpages/{{ newspaper.newspaper_id }}/{{ year }}/{{ total_type }}/">{{ year }}</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    {{ month_label }}
                </li>
            </ul>
            <h1>{{ newspaper.newspaper_title }}</h1>
            <p>
            <ul class="nav nav-pills">
                <li>
                  <a href="/frontpages/{{ newspaper.newspaper_id }}/{{ year }}/{{ month }}/">Table</a>
                </li>
                <li {% if total_type == 'words' %}class="active"{% endif %}><a href="/frontpages/{{ newspaper.newspaper_id }}/{{ year }}/{{ month }}/words/">Word count</a></li>
                <li {% if total_type == 'number' %}class="active"{% endif %}><a href="/frontpages/{{ newspaper.newspaper_id }}/{{ year }}/{{ month }}/number/">Number of articles</a></li>
            </ul>
            </p>
            <div id="container" style="min-width: 400px; height: 700px; margin: 0 auto"></div>
        </div>
      </div>
    </div>
{% endblock %}