{% extends "base.html" %}
{% block extra_scripts %}
<script src="{{ STATIC_URL }}js/frontpages_nav.js"></script>
<script src="{{ STATIC_URL }}js/showLoading/js/jquery.showLoading.js"></script>
<script>
    var series = {{ series|safe }};
    {% if total_type == 'words' %}
        var y_label = 'Average words per issue';
        var y_min = -200;
    {% elif total_type == 'number' %}
        var y_label = 'Average articles per issue';
        var y_min = -1;
    {% endif %}
</script>
{% endblock %}
{% block page_title %}:: The front page{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          {% include 'frontpages_side_nav.html' %}
        </div><!--/span-->
        <div class="span9">
            <ul class="breadcrumb">
                <li>
                  <a href="/frontpages/">Front pages</a> <span class="divider">/</span>
                </li>
                <li>
                  {{ newspaper.newspaper_title|truncatechars:30 }}
                </li>
            </ul>
            <h1>{{ newspaper.newspaper_title }}</h1>
            <p>
            <ul class="nav nav-pills">
                <li class="active">
                  <a href="/frontpages/{{ newspaper.newspaper_id }}/">Table</a>
                </li>
                <li><a href="/frontpages/{{ newspaper.newspaper_id }}/words/">Word count</a></li>
                <li><a href="/frontpages/{{ newspaper.newspaper_id }}/number/">Number of articles</a></li>
                <li><a href="/frontpages/{{ newspaper.newspaper_id }}/illustrated/">Illustrated articles</a></li>
            </ul>
            </p>
            <table class="table table-bordered">
                <thead>
                    <tr><th rowspan="2">Year</th><th rowspan="2">Issues</th><th colspan="2">Advertising</th><th colspan="2">Articles</th><th colspan="2">Detailed lists, results, guides</th><th colspan="2">Family Notices</th><th colspan="2">Literature</th><th rowspan="2">Illustrated</th></tr>
                    <tr><th>Number</th><th>Words</th><th>Number</th><th>Words</th><th>Number</th><th>Words</th><th>Number</th><th>Words</th><th>Number</th><th>Words</th></tr>
                </thead>
                <tbody>
                {% for y, year  in years.items %}
                    <tr>
                        <td><a href="/frontpages/{{ newspaper.newspaper_id }}/{{ y }}/">{{ y }}</a></td>
                        <td>{{ year.issues}}</td>
                        <td>{% if year.advertising.total.value %}{{ year.advertising.total.value }} ({{ year.advertising.total.average|floatformat:"-2" }}){% endif %}</td>
                        <td>{% if year.advertising.words.value %}{{ year.advertising.words.value }} ({{ year.advertising.words.average|floatformat:"-2" }}){% endif %}</td>
                        <td>{% if year.article.total.value %}{{ year.article.total.value }} ({{ year.article.total.average|floatformat:"-2" }}){% endif %}</td>
                        <td>{% if year.article.words.value %}{{ year.article.words.value }} ({{ year.article.words.average|floatformat:"-2" }}){% endif %}</td>
                        <td>{% if year.lists.total.value %}{{ year.lists.total.value }} ({{ year.lists.total.average|floatformat:"-2" }}){% endif %}</td>
                        <td>{% if year.lists.words.value %}{{ year.lists.words.value }} ({{ year.lists.words.average|floatformat:"-2" }}){% endif %}</td>
                        <td>{% if year.family.total.value %}{{ year.family.total.value }} ({{ year.family.total.average|floatformat:"-2" }}){% endif %}</td>
                        <td>{% if year.family.words.value %}{{ year.family.words.value }} ({{ year.family.words.average|floatformat:"-2" }}){% endif %}</td>
                        <td>{% if year.literature.total.value %}{{ year.literature.total.value }} ({{ year.literature.total.average|floatformat:"-2" }}){% endif %}</td>
                        <td>{% if year.literature.words.value %}{{ year.literature.words.value }} ({{ year.literature.words.average|floatformat:"-2" }}){% endif %}</td>
                        <td>{% if year.illustrated.value %}{{ year.illustrated.value }} ({{ year.illustrated.average|floatformat:"-2" }}){% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'social.html' %}
        </div>
      </div>
    </div>
    <hr>
    <footer>
        <div class="container-fluid">
        <p>Another fine product from the <a href="http://wraggelabs.com/emporium/">Wragge Labs Emporium</a></p>
        <p>Developed by <a href="http://discontents.com.au/about-me">Tim Sherratt</a> (<a href="http://twitter.com/wragge">@wragge</a>).<p>
        <a href="http://trove.nla.gov.au"><img src="{{ STATIC_URL }}/images/trove.png"></a>
        </div>
    </footer>
{% endblock %}