{% extends "base.html" %}
{% block extra_scripts %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="{{ STATIC_URL }}js/frontpages_newspaper.js"></script>
<script>
    var series = {{ series|safe }};
    {% if total_type == 'words' %}
        var y_label = 'Average words per issue';
        var y_min = -200;
    {% elif total_type == 'total' %}
        var y_label = 'Average articles per issue';
        var y_min = -1;
    {% endif %}
</script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well">
            <label>Newspaper</label>
            <select id="newspaper" class="span12">
                {% for news in newspapers %}
                    <option value="{{ news.0 }}">{{ news.1 }}</option>
                {% endfor %}
            </select>
            <label>Categories</label>
            <label class="checkbox">
              <input type="checkbox" value="article"> News article</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="advertising"> Advertising</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="lists"> Detailed lists, results, guides</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="family"> Family Notices</input>
            </label>
            <label class="checkbox">
              <input type="checkbox" value="literature"> Literature</input>
            </label>
            <span class="help-block">(Leave unchecked for all.)</span>
            <button class="btn" id="show">Show</button>
          </div>
        </div><!--/span-->
        <div class="span9">
            <h1>{{ newspaper.newspaper_title }}</h1>
            <div id="container" style="min-width: 400px; height: 700px; margin: 0 auto"></div>
        </div>
      </div>
    </div>
{% endblock %}