{% extends "base.html" %}
{% block extra_scripts %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="{{ STATIC_URL }}js/frontpages_scatter.js"></script>
<script>
    var newspapers = {{ newspapers|safe }};
    var data = {{ data|safe }};
    var total_type = "{{ total_type }}";
    {% if total_type == 'number' or total_type == 'illustrated' %}
        var y_min = 0;
        var y_text = "Number of items per issue";
    {% elif total_type == 'words' %}
        var y_min = -200;
        var y_text = "Number of words per issue";
    {% endif %}
</script>
{% endblock %}
{% block page_title %}:: The front page{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
        <div class="well">
            <form>
            <select id="category" class="span12">
                <option value="">Choose a category</option>
                <option value="article">Article (news)</option>
                <option value="advertising">Advertising</option>
                <option value="lists">Detailed lists, results, guides</option>
                <option value="family">Family notices</option>
                <option value="literature">Literature</option>
                <option value="illustrated">Illustrated article</option>
            </select>
            <label>View:</label>
            <select id="view" class="span8">
                <option value="">---</option>
                <option value="words" selected="selected">Words</option>
                <option value="number">Number</option>
            </select>
            <button class="btn btn-primary" id="show_scatter">Show</button>
            </form>
        </div>
        </div><!--/span-->
        <div class="span10">
            <ul class="breadcrumb">
                <li>
                  <a href="/frontpages/">Front pages</a> <span class="divider">/</span>
                </li>
                <li class="active">
                  {{ category }}
                </li>
            </ul>
            <h1>{{ category_long }}</h1>
            <p>
            {% if total_type != "illustrated" %}
            <ul class="nav nav-pills">
                <li {% if total_type == 'words' %}class="active"{% endif %}><a href="/frontpages/all/{{ category }}/words/">Word count</a></li>
                <li {% if total_type == 'number' %}class="active"{% endif %}><a href="/frontpages/all/{{ category }}/number/">Number of articles</a></li>
            </ul>
            {% endif %}
            </p>
            <div id="container" style="min-width: 400px; height: 600px; margin: 0 auto"></div>
            {% include 'social.html' %}
        </div>
      </div>
    </div>
    <hr>
    <footer>
        <div class="container-fluid">
        <p>Another fine product from the <a href="http://wraggelabs.com/emporium/">Wragge Labs Emporium</a></p>
        <p>Developed by <a href="http://discontents.com.au/about-me">Tim Sherratt</a> (<a href="http://twitter.com/wragge">@wragge</a>).<p>
        <a href="http://trove.nla.gov.au"><img src="{{ STATIC_URL }}/images/trove.png"></a>
        </div>
    </footer>
{% endblock %}