{% extends 'base.html' %}
{% block extra_scripts %}
    <script src="{{ STATIC_URL}}js/highcharts.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/showLoading/js/jquery.showLoading.min.js"></script>
    <script src="{{ STATIC_URL}}js/purl.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.scrollto.min.js"></script>
    <script src="{{ STATIC_URL}}js/jquery.dateFormat-1.0.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/qp-show-script.js"></script>
    <script id="series_data">
        var series_data = [];
    </script>
  {% if qpgraph %}
   <script type="text/javascript">
        var sources = {{ qpgraph.data|safe }};
    </script>
    {% endif %}
{% endblock %}
{% block extra_styles %}
    <link href="{{ STATIC_URL }}css/qp-style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <header class="span12">
            <h1>QueryPic <small class="muted">Exploring digitised newspapers from Australia &amp; New Zealand</small></h1>
            <ul class="nav nav-pills">
              <li><a href="/querypic/">Home</a></li>
              <li><a href="/querypic/explore/">Explore</a></li>
              <li><a href="/querypic/create/">Create</a></li>
              <li><a href="/querypic/help/">Help</a></li>
            </ul>
            <h2>{{ qpgraph.title }}</h2>
        </header>
    </div>
    <div class="row-fluid">
        <div class="span10">
            <div id="status"></div>
            <div id="graph" style="height:600px;width:100%; "></div>

        </div>
        <div class="span2">
            <h4>View</h4>
            <div id="type_selector"><select class="input-medium" id="graph_type"><option value="ratio">proportion of total articles</option><option value="total">number of articles</option></select></div>
            {% if qpgraph.creator %}
                <h4>Created by</h4>
                <p>
                    {% if qpgraph.creator_url %}
                        <a href="{{ qpgraph.creator_url }}">{{ qpgraph.creator }}</a>
                    {% else %}
                        {{ qpgraph.creator }}
                    {% endif %}
                </p>
            {% endif %}
            <h4>Date created</h4>
            <p>{{ qpgraph.created|date:"j F Y" }}</p>
            {% if qpgraph.description %}
                <h4>Description</h4>
                {{ qpgraph.description|linebreaks }}
            {% endif %}
            <h4>Data</h4>
            <div id="series-details" class="accordion">
            </div>
        </div>
    </div>
        <div class="row-fluid">
        <div id="trove-results" class="span12">
            <div id="articles"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include "querypic-footer.html" %}
{% endblock %}
