<footer>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <p><small>Created by <a href="http://discontents.com.au/about-me">Tim Sherratt</a> (@wragge)</small></p>
            <p><small>Find more useful tools in the <a href="http://wraggelabs/emporium/">WraggeLabs Emporium</a>.</small></p>
        </div>
        <div class="span6">
            <p><small>Powered by <a href="http://trove.nla.gov.au">Trove</a> and <a href="http://www.digitalnz.org/">DigitalNZ</a>.</small></p>
        </div>
    </div>
</div>

</footer>
