body { padding-top: 40px;}
footer {
    margin-top:40px;
    padding-top: 10px;
border-top: 5px solid #949AA2;
border-bottom: 1px solid #CACACA;
}
.fb-like, .twitter-share-button { vertical-align:top;}
.ms-container { width: 100%;}
.ms-container ul.ms-optgroup .ms-elem-selectable, .ms-container ul.ms-optgroup .ms-elem-selection { padding-left: 30px;}
.ms-selectable .ms-list, .ms-selection .ms-list { height: 300px; }
.ms-selectable .search-input, .ms-selection .search-input { width: auto; margin-bottom: 5px;}
.selected-header { margin-bottom: 10px; padding-top: 4px;}
.ms-container .ms-optgroup-label { padding: 2px 0 2px 10px; border-bottom: 1px #eee solid;}

#sunburst-container {

}

.tooltip {
  font-size: 12px;
}

#sunburst-svg path {
  stroke: #fff;
  fill-rule: evenodd;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
