body { padding-top: 40px;}
footer {
    margin-top:40px;
    padding-top: 10px;
border-top: 5px solid #949AA2;
border-bottom: 1px solid #CACACA;
}
.fb-like, .twitter-share-button { vertical-align:top;}
