#svg {
  margin: auto;
  position: relative;
}

.tooltip {
  font-size: 12px;
}

#sunburst-svg path {
  stroke: #fff;
  fill-rule: evenodd;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.format-results {
  position: absolute;
}

.format-results a {
  color: inherit;
}