body {
  width: 700px;
  height: 700px;
  margin: 0;
}
#svg {
  margin: auto;
  position: relative;
}

.tooltip {
  font-size: 12px;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.results {
  position: absolute;
  width: 40%;
  max-height: 700px;
  overflow: scroll;
  padding-top: 20px;
}

.results a {
  color: inherit;
}