{% extends 'base.html' %}
{% block page_title %} :: Trove Collection Profiler{% endblock %}
{% block extra_scripts %}
    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{ STATIC_URL }}js/showLoading/js/jquery.showLoading.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.jsonp-2.4.0.min.js"></script>
    <script src="{{ STATIC_URL}}js/purl.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL}}js/jquery.dateFormat-1.0.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.scrollto.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.multi-select.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.quicksearch.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL }}js/collectionview-script.js?v=1.2"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script id="series_data">
        var series_data = [];
    </script>
{% endblock %}
{% block extra_styles %}
    <link href="{{ STATIC_URL }}css/multi-select.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/cv-style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <header class="span12">
            <h1>Trove Collection Profiler <small class="muted"></small></h1>
        </header>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs" id="panes">
              <li><a href="#filter" data-toggle="tab">Set filters</a></li>
              <li><a href="#display" data-toggle="tab">Explore zones by year</a></li>
              <li><a href="#sunburst" data-toggle="tab">Explore zones by format</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active row-fluid" id="filter">
                    <div class="span11 form-horizontal">
                        <div class="row-fluid">
                            <div class="span8">
                                <p class="muted">All filters are optional.</p>
                            </div>
                            <div class="span3">
                                <button class="btn btn-primary btn-large" id="do_keyword_query">Display</button>
                                <button class="btn btn-large" id="clear_all">Clear all</button>
                            </div>
                        </div>
                        <div class="control-group">
                            <input type="hidden" id="preset" value="{{ preset }}">
                            <label class="control-label" for="start_year">Word or phrase: </label>
                            <div class="controls">
                                <input class="input-xlarge" type="text" id="query" {% if query %} value="{{ query }}"{% endif %}> <i title="Tip" data-content="Enclose phrases in double quotes. Boolean operators are ok." class="icon-question-sign tip-popover"></i>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="start_year">Start year: </label> 
                            <div class="controls">
                                <select class="input-small" id="start_year">
                                {% for year in years %}
                                    <option value="{{ year }}" {% if year == start %} selected="selected"{% endif %}>{{ year }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="end_year">End year: </label>
                            <div class="controls">
                                <select class="input-small" id="end_year">
                                {% for year in years %}
                                    <option value="{{ year }}" {% if year == end %} selected="selected"{% endif %}>{{ year }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="collections">Collections: </label>
                            <div class="controls" id="collections">
                            <select class="level0 input-xxlarge" id="nucs" multiple>
                                {% for library in nucs.libraryList %}
                                    {% if library.childlibs|length > 0 %}
                                        <optgroup label="{{ library.fname }}">
                                    {% endif %}
                                    {% if library.tholdings > 0 and not library.nuc.isdigit %}
                                        <option value="{{ library.nuc }}" {% if library.nuc in selected_nucs %}selected {% endif %}>{{ library.fname }} ({{ library.nuc }})</option>
                                    {% endif %}
                                    {% for child1 in library.childlibs %}
                                        {% if child1.tholdings > 0 and not child1.nuc.isdigit %}
                                            <option value="{{ child1.nuc }}" {% if child1.nuc in selected_nucs %}selected {% endif %}>{{ child1.name }} ({{ child1.nuc }})</option>
                                                {% for child2 in child1.childlibs %}
                                                    {% if child2.tholdings > 0 and not child2.nuc.isdigit %}
                                                        <option value="{{ child2.nuc }}" {% if child2.nuc in selected_nucs %}selected {% endif %}>{{ child2.name }}  ({{ child2.nuc }})</option>
                                                    {% endif %}
                                                {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% if library.childlibs|length > 0 %}
                                     </optgroup>
                                {% endif %}
                            {% endfor %}
                            </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane row-fluid" id="display">
                    <div class="span9">
                        <div id="status"></div>
                        <div id="graph" style="height:700px;width:100%; "></div>
                    </div>
                    <div class="span3" id="trove-results">
                        <div class="muted" id="graph-info">
                            <p>Each line represents a Trove zone.</p>
                            <p>Click on a point to retrieve some sample records.</p>
                        </div>
                        <div id="articles"></div>
                    </div>
                </div>
                <div class="tab-pane row-fluid" id="sunburst">
                    <div id="sunburst-container" class="span9"></div>
                    <div class="format-results span3">
                        <div class="muted" id="sunburst-info">
                            <p>Mouseover to view formats.</p>
                            <p>Click to zoom in and out, and retrieve sample records.</p>
                        </div>
                        <div id="format-articles"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include "cv-footer.html" %}
{% endblock %}
