<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

</style>
<body></body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/jquery.jsonp-2.4.0.min.js"></script>
<script>
var api_key = "1g8lo7p9vtj0b89";

var margin = {top: 40, right: 10, bottom: 10, left: 10},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var color = d3.scale.category20c();

var treemap = d3.layout.treemap()
    .size([width, height])
    .sticky(true)
    .value(function(d) { return d.size; });

var div = d3.select("body").append("div")
    .style("position", "relative")
    .style("width", (width + margin.left + margin.right) + "px")
    .style("height", (height + margin.top + margin.bottom) + "px")
    .style("left", margin.left + "px")
    .style("top", margin.top + "px");

function display_treemap(data) {
  console.log(data);
    var node = div.datum(data).selectAll(".node")
        .data(treemap.nodes)
        .enter().append("div")
        .attr("class", "node")
        .call(position)
        .style("background", function(d) { return d.children ? color(d.name) : null; })
        .text(function(d) { return d.children ? null : d.name; })
        //.data(treemap.value(d.size).nodes)
        //  .transition()
        //  .duration(1500)
          .call(position);
}

function position() {
  this.style("left", function(d) { return d.x + "px"; })
      .style("top", function(d) { return d.y + "px"; })
      .style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
      .style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
}

$(function(){
  function get_data() {
    $.jsonp({
      //"dataType": "jsonp",
      //"jsonp": callback,
      "callbackParameter": 'callback',
      "url": "http://api.trove.nla.gov.au/result?q= &zone=book,article,collection,picture,map,music&facet=format&n=0&encoding=json&key=" + api_key,
      "timeout": 20000,
      "success": function(results) {
          process_results(results);
      }
    });
  }

  function process_results(results) {
    console.log(results);
    var data = {'name': 'Trove', 'children': []};
    $.each(results.response.zone, function(index, zone) {
      var this_zone = {'name': zone.name, 'children': []};
      $.each(zone.facets.facet.term, function(index, term) {
        this_child = process_term(term);
        this_zone.children.push(this_child.term);
      });
      data.children.push(this_zone);
    });
    display_treemap(data);
  }

  function process_term(term) {
    var term_count = parseInt(term.count, 10);
    var this_term = {'name': term.display + ' (' + term_count + ')'}
    var count = 0;
    if (typeof term.term !== 'undefined') {
      this_term.children = [];
      $.each(term.term, function(index, child) {
        var this_child = process_term(child);
        this_term.children.push(this_child.term);
        count = count + this_child.term.size;
        console.log(count);
      });
      if (term_count > count) {
        other_count = term_count - count;
        this_term.children.push({'name': 'Other (' + other_count + ')', 'size': other_count});
      }
    } else {
      this_term.size = term_count;
    }
    return {'term': this_term, 'count': count};
  }
  get_data();
});


</script>