{% extends 'base-iframe.html' %}
{% block page_title %} :: Trove Zone Explorer{% endblock %}
{% block extra_scripts %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.jsonp-2.4.0.min.js"></script>
<script src="{{ STATIC_URL }}js/trove-sunburst.js"></script>
<script>
width = 700;
height = 700;
</script>
{% endblock %}
{% block extra_styles %}
    <link href="{{ STATIC_URL }}css/trove-sunburst-iframe.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="svg">
  <div class="results"></div>
</div>
{% endblock %}

