{% extends 'base.html' %}
{% load utilities %}
{% block extra_scripts %}
    <script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.infinitescroll.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.fancybox.pack.js?v=2.0.6"></script>
    <script src="{{ STATIC_URL }}js/showLoading/js/jquery.showLoading.min.js"></script>
    <script src="{{ STATIC_URL }}js/archives-wall-script.js"></script>
{% endblock %}
{% block extra_styles %}
    <link href="{{ STATIC_URL }}css/jquery.fancybox.css?v=2.0.6" rel="stylesheet">
    <link href="{{ STATIC_URL }}js/showLoading/css/showLoading.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/archives-wall-style.css" rel="stylesheet">
{% endblock %}
{% block page_title %} :: Archives Viewer :: NAA: {{ details.series }}, {{ details.control }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div id="button-bar">
            <form class="form-inline">
            <a class="btn" href="/archives/naa/items/{{barcode}}/1/"><i class="icon-file"></i> File</a>
            <select id="go-to">
                {% mkrange 1 total|add:1 as page_range %}
                {% for page_num in page_range %}
                    <option value="{{ page_num }}">Page {{ page_num }} of {{ total }}</option>
                {% endfor %}
            </select>
            <button class="btn" id="print"><i class="icon-print"></i> Print</button> <input type="text" id="print-range" value="1-{{ total }}"></input>
            </form>
        </div>
          <h2 id="details" data-barcode="{{ barcode }}" data-reference="{{ details.series }}, {{ details.control }}">National Archives of Australia: {{ details.series }}, {{ details.control }}</h2>
          <h4 id="title">{{ details.title }}</h4>
          <div id="wall">
          {% for image in images %}
            <a class="element fancybox" rel="wall" data-page-id="{{ image }}" href="/archives/naa/images/{{ barcode }}/{{ image }}/" title="Page {{ image }}"><img src="/archives/naa/images/{{ barcode }}/{{ image }}/?width=200&height=200"></a>
          {% endfor %}
          </div>
          <div id="page_nav" class="hidden"><a href="/archives/naa/items/{{ barcode }}/?page={{ page }}">Next</a></div>
          <p>Share: <a href="http://dhistory.org/archives/naa/items/{{ barcode }}/">http://dhistory.org/archives/naa/items/{{ barcode }}/</a></p>
          <p><a class="btn btn-primary" href="http://www.naa.gov.au/cgi-bin/Search?O=I&Number={{ barcode }}">View in RecordSearch</a></p>
          {% include 'rsviewer-social.html' %} 
      </div>
    </div>
</div>
<div id="snippets" prefix="bibo: http://purl.org/ontology/bibo/ arch: http://purl.org/archival/vocab/arch# locah: http://data.archiveshub.ac.uk/def/ ore: http://www.openarchives.org/ore/terms/">
    <div about="#file" typeof="locah:ArchiveResource bibo:Collection arch:Collection" property="rdfs:label" content="National Archives of Australia: {{ details.series }}, {{ details.control }}">
        <div property="dc:title" content="{{ details.title }}"></div>
        <div property="bibo:locator dc:identifer" content="{{ details.series }}, {{ details.control }}"></div>
        <div property="dc:identifier" content="{{ barcode }}"></div>
        <div rel="rdfs:seeAlso" resource="http://www.naa.gov.au/cgi-bin/Search?O=I&Number={{ barcode }}"></div>
        <div rel="bibo:isPartOf dc:isPartOf ore:isAggregatedBy" resource="#series"></div>
        <div rel="locah:accessProvidedBy arch:heldBy" resource="#repository"></div>
        <div rel="ore:aggregates dc:hasPart bibo:hasPart">
            {% mkrange 1 total|add:1 as pages %}
            {% for page in pages %}
                <div about="/archives/naa/items/{{ barcode }}/{{ page }}/#page" typeof="bibo:Manuscript arch:Manuscript" property="rdfs:label" content="National Archives of Australia: {{ details.series }}, {{ details.control }}, page {{ page }}">
                    <div rel="foaf:img" resource="http://dhistory.org/archives/naa/images/{{ barcode }}/{{ page }}"></div>
                    <div property="bibo:locator" content="{{ details.series }}, {{ details.control }}, page {{ page }}"></div>
                    <div property="bibo:pageStart bibo:pageEnd" content="{{ page }}"></div>
                    <div rel="bibo:isPartOf dc:isPartOf ore:isAggregatedBy" resource="#file"></div>
                    <div rel="locah:accessProvidedBy arch:heldBy" resource="#repository"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div about="#series" typeof="locah:ArchiveResource bibo:Collection arch:Collection" property="rdfs:label" content="National Archives of Australia: {{ details.series }}">
        <div property="bibo:locator dc:identifer" content="{{ details.series }}"></div>
        <div rel="rdfs:seeAlso" resource="http://www.naa.gov.au/cgi-bin/Search?Number={{ details.series }}"></div>
        <div rel="locah:accessProvidedBy arch:heldBy" resource="#repository"></div>
        <div rel="ore:aggregates dc:hasPart bibo:hasPart" resource="#file"></div>
    </div>
    <div about="#repository" typeof="locah:Repository foaf:Agent dc:Agent arch:Archive" label="National Archives of Australia">
        <div property="foaf:name" content="National Archives of Australia"></div>
        <div rel="owl:sameAs" resource="http://dbpedia.org/resource/National_Archives_of_Australia"></div>
        <div rel="rdfs:seeAlso" resource="http://directory.archivists.org.au/archives/3/"></div>
        <div property="foaf:homepage" content="http://naa.gov.au"></div>
        <div rel="locah:providesAccessTo arch:holds" resource="#series"></div>
        <div rel="locah:providesAccessTo arch:holds" resource="#file"></div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {% include 'rsviewer-footer.html' %}
{% endblock %}