{% extends 'base.html' %}
{% load utilities %}
{% block extra_scripts %}
{% endblock %}
{% block extra_styles %}
    <link href="{{ STATIC_URL }}css/archives-printing-style.css" rel="stylesheet">
{% endblock %}
{% block page_title %}NAA: {{ details.series }}, {{ details.control }}{% endblock %}
{% block content %}
<div class="container-fluid printing">
    <div class="row-fluid">
      <div class="span12">
          
          {% for page in pages %}
          <div id="print-page">
            <img src="/archives/naa/images/{{ barcode }}/{{ page }}/">
            <p id="details" data-barcode="{{ barcode }}" data-reference="{{ details.series }}, {{ details.control }}">National Archives of Australia: {{ details.series }}, {{ details.control }}, page {{ page }}</p>
            <p>Accessed on {% now "j F Y" %} via http://dhistory.org/archives/naa/items/{{ barcode }}/</p>
          </div>
          {% endfor %}
      </div>
    </div>
</div>

{% endblock %}