{% extends 'base.html' %}
{% load utilities %}
{% block extra_scripts %}
    <script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.infinitescroll.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.fancybox.pack.js?v=2.0.6"></script>
    <script src="{{ STATIC_URL }}js/archives-wall-script.js"></script>
{% endblock %}
{% block extra_styles %}
    <link href="{{ STATIC_URL }}css/jquery.fancybox.css?v=2.0.6" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/archives-wall-style.css" rel="stylesheet">
{% endblock %}
{% block page_title %}NAA: {{ details.series }}, {{ details.control }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div id="button-bar">
            <form class="form-inline">
            <a class="btn" href="/archives/naa/items/{{barcode}}/1/"><i class="icon-file"></i> File</a>
            <select id="go-to">
                {% mkrange 1 total|add:1 as page_range %}
                {% for page_num in page_range %}
                    <option value="{{ page_num }}">Page {{ page_num }} of {{ total }}</option>
                {% endfor %}
            </select>
            <button class="btn" id="print"><i class="icon-print"></i> Print</button> <input type="text" id="print-range" value="1-{{ total }}"></input>
            </form>
        </div>
          <h2 id="details" data-barcode="{{ barcode }}" data-reference="{{ details.series }}, {{ details.control }}">National Archives of Australia: {{ details.series }}, {{ details.control }}</h2>
          <h4 id="title">{{ details.title }}</h4>
          <div id="wall">
          {% for image in images %}
            <a class="element fancybox" rel="wall" data-page-id="{{ image }}" href="http://localhost:8000/archives/naa/images/{{ barcode }}/{{ image }}/" title="Page {{ image }}"><img src="/archives/naa/images/{{ barcode }}/{{ image }}/?width=200&height=200"></a>
          {% endfor %}
          </div>
          <div id="page_nav"><a href="/archives/naa/items/{{ barcode }}/wall/?page={{ page }}">Next</a></div>
          <p><a class="btn btn-primary" href="http://www.naa.gov.au/cgi-bin/Search?O=I&Number={{ barcode }}">View in RecordSearch</a></p>
      </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {% include 'rsviewer-footer.html' %}
{% endblock %}