{% extends 'base.html' %}
{% load utilities %}
{% block extra_scripts %}
    <script src="{{ STATIC_URL }}js/archives-home-script.js"></script>
{% endblock %}
{% block extra_styles %}
    <link href="{{ STATIC_URL }}css/archives-wall-style.css" rel="stylesheet">
{% endblock %}
{% block page_title %} :: Archives Viewer :: National Archives of Australia{% endblock %}
{% block content %}
<div class="container-fluid home">
    <div class="row-fluid">
      <div class="span12">
        <h1>Archives viewer</h1>
        <h2>National Archives of Australia</h2>
        <div class="row-fluid home-info">
            <div class="span6">
                <form class="inline-search">
                   <input id="barcode" type="text" placeholder="item barcode">
                   <button id="get-barcode" class="btn btn-primary btn-large">Show</button>
                <span class="help-block">Just enter the barcode of a digitised file in the box above.</span>
                </form>

                <h4>For example:</h4>
                <ul>
                    <li><a href="/archives/naa/items/3445411/">WRAGGE Clement Lionel Egerton : SERN 647 : POB Cheadle England : POE Enoggera QLD : NOK (Father) WRAGGE Clement Lindley</a>
                    <li><a href="/archives/naa/items/7461003/">Charlie Hin, Kum Young, Ho Way, Jimmy Nor, Wing Zuin, Hin Gee, Go Gee (wife of Hin Gee), Albert Edward Hin Gee, Lucy Ellen Hin Gee and George Gee Bong [Certificate Exempting from Dictation Test - includes left hand impression and photographs] [box 23]</a>
                </ul>


            </div>
            <div class="span6">
                <p class="lead">An experimental viewer for digitised files in the National Archives of Australia&rsquo;s RecordSearch database.</p>
                <h4>Features include:</h4>
                <ul>
                    <li>The wall &ndash; view all pages at once</li>
                    <li>Persistent links to individual pages</li>
                    <li>Easy printing of a whole file or selected pages</li>
                </ul>
                <h4>Connectors:</h4>
                <ul>
                    <li>Use one of <a href="/archives/naa/connectors/">these connectors</a> to jump from RecordSearch to the Archives Viewer</li>
                </ul>
                <p>More information at <a href="http://discontents.com.au/shed/experiments/old-loves-new-views">discontents</a>.</p>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
{% block footer %}
    {% include 'rsviewer-footer.html' %}
{% endblock %}
